<!doctype html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="">

  <title>Leaklytics</title>
  <style>
    body {
      background: url("{{ request.url_for('static', path='img/background.png')}}") no-repeat center center fixed;
    }
  </style>

  <link rel="stylesheet" href="http://yui.yahooapis.com/3.5.1/build/cssreset/cssreset-min.css">
  <link rel="stylesheet" href="{{ request.url_for('static', path='css/main.css') }}">

</head>
<body>
  <div class="container">

    <header>
      <h2><a href="#"><ion-icon name="key-outline"></ion-icon> Leaklytics</a></h2>

      <nav>
        <ul>
          <li>
            <a href="#" title="Hotels">About</a>
          </li>
          <li>
            <a href="#" title="Flights">Contact</a>
          </li>
          <!-- <li> -->
          <!--   <a class="btn" href="#" title="Register / Log In">Register/Log In</a> -->
          <!-- </li> -->
        </ul>
      </nav>
    </header>

    <div class="cover">
      <h1>Was Your Password Leaked?</h1>
      <form  class="flex-form">
        <label for="pass">
          <ion-icon name="lock-closed-outline"></ion-icon>
        </label>
        <input id="passwordInput" type="password" placeholder="Type a password here">
        <label for="eye">
          <ion-icon id="eyeIcon" name="eye-off-outline" onclick="togglePasswordVisibility()"></ion-icon>
        </label>
        <input type="submit" value="Search">
      </form>
      <div id="madeby">
        <span>
          Photo by <a href="https://unsplash.com/pt-br/@flyd2069" target="_blank">FLY:D</a>
        </span>
      </div>
    </div>

  </div>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <script src="{{ request.url_for('static', path='js/main.js') }}"></script>
</body>
</html>
